AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
GCP_PROJECT_ID=your-retail-pipeline-20260625
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/gcp-key.json
MB_DB_TYPE=postgres
MB_DB_DBNAME=airflow
MB_DB_PORT=5432
MB_DB_USER=airflow
MB_DB_PASS=airflow
MB_DB_HOST=postgres